[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "vendor/spirv-reflect"]
	path = vendor/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
